//styles for createFarm component

.left-side {
  width: 50%;
}
.right-side {
  width: 50%;
}

.form.farm-form {
  flex-direction: row;
}

.others {
  height: 80px;
  overflow-y: scroll;
}

.btn-farm {
  //
}
