//styles for createFarm component

.farm-form {
  flex-direction: row;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
}

.others {
  height: 80px;
}

.btn-farm {
  width: 4rem;
  margin-top: 0.5rem;
}
