//styles for CreateTask component

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
}
//.task-form__route-item
.form__label {
  width: 100%;
  display: inline-block;
  padding: 0.5rem;
  //margin-right: 0.25rem;
}

.form-item {
  margin-left: 0.5rem;
}

.item-pig {
  width: 70px;
}

.task-btn {
  width: 4rem;
  margin-top: 0.5rem;
}
