//medias 1920×1080. 1366×768. 360×640.

//main general
.main {
    height: 75%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: 2%;

    .pending{
      padding-bottom: 0.5rem;
    }
    .done{
      padding-bottom: 0.5rem;
      //border: solid 2px black;

    }
}
//main landing
.main-landing {
  height: 75vh;
}

.hidden {
  display: inline;
  visibility: hidden;
  @media all and (min-width:640px){
    visibility: visible;
}
}

//iconos

.pending-icon{
  color: orange;
}

.done-icon {
  color:green;
}
  