//medias 1920×1080. 1366×768. 360×640.


.main {
    height: 75vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: 2%;

    .pending{
      padding-bottom: 0.5rem;
    }
    .done{
      padding-bottom: 0.5rem;
      //border: solid 2px black;

    }
}

.hidden {
  display: inline;
  visibility: hidden;
  @media all and (min-width:640px){
    visibility: visible;
}}
  