//medias 1920×1080. 1366×768. 360×640.

//main general
.main {
    height: 75%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: 2%;

    .pending{
      padding-bottom: 0.5rem;

    }
    .done{
      padding-bottom: 0.5rem;

    }
}
//main landing

.hidden {
  display: inline;
  visibility: hidden;
  color: #B2B1B9;
  @media all and (min-width:640px){
    visibility: visible;
}
}

//iconos

.landing-icon {
  font-size: 2.20rem;
  padding: 0.5rem 0;
}

.pending-icon{
  color: orange;
}

.done-icon {
  color:green;
}

//listas

.main__list { //clase compartida de pending y done

  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  
  .pending { //toda seccion de pendings 
    display:flex;
  flex-direction: column;
  
    
  }
  
//lista hoy 
.today-wrapper {
  width: 12rem;
  //height: 6rem;

  border: solid 4px #fff;
  border-radius: 7px;
  margin: 0.5rem 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  //justify-content: center;  
  //text-align: center;

  align-self: center;
  

.pending-wrapper{ //los pending que no son de hoy

  flex-direction: column;
  width: 10rem;
  align-self: center;
  display: flex;
  
  //justify-content: center; 
  }
  //lista completos
  .done-wrapper{
//
width: 10rem;
display: flex;
  flex-direction: column;
align-self: center;
  }

}

  .done-link{
    
    align-self: center;
  }
  



}


.main__list__item {
  height: 6rem;
  width: 8rem;
  margin: 0.5rem 0;
  
  border: solid 2px #fff;
  border-radius: 7px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  color: #334257;

  align-self: center;

  .pending-link{
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}





  