//styles for createFarm component


.main__farm__title {
  margin-bottom: 1.5rem;
}

.farm-form {
    flex-direction: row;
   // border: 1px solid black;
    background-color: #EEEEEE;
  
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    padding: 2%;
}/*
  .form-label {
   // min-width: 50px;
  }*/
  .phone {
    width: 14rem;
  }
  .others {
    height: 80px;
    display: inline-block;
  }
  
  .btn-farm {
    width: 4rem;
    margin-top: 0.5rem;
  }


  //styles for CreateTask component

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
  }
  //.task-form__route-item
  .form__label {
    width: 100%;
    display: inline-block;
    padding: 0.5rem;
    //margin-right: 0.25rem;
  }
  
  .form-item {
    margin-left: 0.5rem;
  }
  
  .item-pig {
    width: 70px;
  }
  
  .task-btn {
    width: 4rem;
    margin-top: 0.5rem;
  }
  