//medias 1920×1080. 1366×768. 360×640.

//styles for createFarm component

.main__farm__title {
  margin-bottom: 1.5rem;
}

.farm-form {
  display: flex;
  justify-content: center;
  //border: solid 1px red;

  //background-color: #eeeeee;

  width: 70%;
  padding: 2%;

  .form-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    //border: solid 1px black;

    justify-content: center;
    align-content: center;
  }
}

.others {
  height: 80px;
  display: inline-block;
}

//styles for CreateTask component

.task-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
}

.form__label {
  //
}

.form-item {
  //margin-left: 0.5rem;
}

.item-pig {
  width: 70px;
}

.input {
  min-width: 15rem;
  @media all and (min-width: 640px) {
    min-width: 25rem;
  }
  @media all and (min-width: 1080px) {
    min-width: 30rem;
  }
  //max-width: 25rem;
}
